<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fa_rss_stoper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <fa_rss_stoper.Properties.Settings>
            <setting name="ProgramOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramThree" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramFour" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramFive" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramSix" serializeAs="String">
                <value />
            </setting>
        </fa_rss_stoper.Properties.Settings>
    </userSettings>
</configuration>